/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* Define 1rem como 10px */

  --font-family: 'Poppins', sans-serif;

  --color-papaia: #FF8700;
  --color-white: #f9f9f9;
  --color-lightgray: #333333;
  --color-black: #000000;
  --color-metalicblue: #0b3d91;

  --text-regular: 400 1.6rem var(--font-family);
  --text-regular-nav: 400 1.2rem var(--font-family);
  --text-title-h1: 700 2rem var(--font-family);
  --text-title-h2: 700 1.5rem var(--font-family);
  --text-title-h3: 700 1.6rem var(--font-family);
}

body {
  font-family: 'Poppins', sans-serif;
  background: url('../images/portfolio2.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  line-height: 1.6;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}










