.aside {
  background-color: rgba(0, 0, 0, 0.8); /* Preto semi-transparente */
  padding: 1rem;
  width: 20%;
  float: left;
  color: #fff;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav a {
  color: #f0a04b; /* Papaya */
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #fff;
}


.header {
  background-color: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente */
  padding: 1rem;
}